ul {
  color: dodgerblue;
  font-size: 48px;
}

footer {
  background-color: black;
  padding: 200px;
  color: dodgerblue;
}

sidebar{
  float: right;
  padding: 20px;
}

.jumbotron{
  padding: 300px;
}
